.container {
  max-width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.image-container {
  text-align: center;
  margin-bottom: 1rem;
}

button {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

#backtologinbtn {
  margin-left: 25%;
  margin-top: 5%;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .image-container {
    display: none; /* Hide the image on screens less than 600px */
  }

  h1 {
    margin-top: 13rem; /* Move h1 above the container */
    font-size: 2.2rem;
  }

  .container {
    max-width: 80%;
  }

  #backtologinbtn {
    margin-left: 10%;
    margin-top: 3rem;
  }
}
